    <div class="w-full pb-2.5">
        <div style="background-color:#202c34;" class="pl-10 pt-4 pr-4">
            <div class="text-7xl font-bold text-white">
                <a href="/" class="text-white">RateMyTJ</a>
            </div>
            <div class="flex flex-row w-full pt-0">
                {{!-- <div class="w-1/2 font-semibold text-left text-base leading-8">
                    <input type="search" list="class_names" name="class_name" class="text-white pt-px pb-0.5 leading-normal font-base border border-black" size="50" id="names_input" autocomplete="off">
                    <datalist id="class_names">
                        {{#each class_list}}
                        <option data-value={{this.id}} value="{{this.name}} {{#if this.alt}}({{this.alt}}) {{/if}}- {{this.id}}">
                        {{/each}}
                    </datalist>
                </div> --}}
                <div class="text-base leading-8 text-right font-semibold text-white w-full">
                    {{#if profile}}
                    Hello, {{profile.display_name}}. <a href="/profile" class="aheader">View Profile</a> | <a href="/logout" class="aheader">Logout</a>
                    {{else}}
                    <a href="{{login_link}}" class="aheader">Sign in</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
