<!DOCTYPE html>
<html>
	<head>
        <link href="https://unpkg.com/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
		<meta charset="utf-8">
		<title>{{name}}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
		<link rel="stylesheet" href="/styles.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
	</head>
	<body>
		<div style="width:100%;padding-bottom:10px">
			{{> header}}
		</div>
        <div class="text-center">
			<div class="text-6xl font-bold pb-1">
				{{name}}
			</div>
			{{#checkEmpty alt}}
			<div class="text-3xl font-medium pb-1">
				AKA: {{alt}}
			</div>
			{{/checkEmpty}}
			<div class="width-full flex flex-row items-center justify-center">
				<div class="px-2"><b>ID: </b>{{id}}</div>
				<div class="px-2"><b>Category: </b>{{category}}</div>
				<div class="px-2"><b>Type: </b>{{type}}</div>
				<div class="px-2"><b>Length: </b>{{length}}</div>
				<div class="px-2"><b>Weighted: </b>{{weight}}</div>
			</div>
			<div class="flex flex-row">
				<div class="w-1/4 px-5">
					<div class="width-full text-center font-semibold text-3xl">
						Description
					</div>
					{{description}}
				</div>
				<div class="w-3/4 px-5 flex flex-row">
					{{> score_card score_name="Class Score" score=class_score rank=class_score_rank num_classes=num_classes score_text="/10"}}
					{{> score_card score_name="Workload" score=workload rank=workload_rank num_classes=num_classes score_text="hrs/week"}}
				</div>
			</div>
        </div>
		<div style="width:100%;">
			{{> footer}}
		</div>
    </body>
</html>
