<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RateMyTJ</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
		<style type="text/css">
			html {
				font-family: "Georgia";
			}
		</style>
	</head>
	<body>
		<div style="display: flex; flex-direction: row">
			<div style="width: 200px">
				<div>
					<b>Category:</b><br>
					<span style="font-size: 8pt;"><a href="#" onclick="uncheckCategory()" style="color: blue">Uncheck all</a> | <a href="#" onclick="checkCategory()" style="color: blue">Check all</a></span><br>
					<input type="checkbox" value="Technology and Engineering" checked id="Technology and Engineering" onclick="changeCategory(this.id)"><label for="Technology and Engineering">Technology and Engineering</label><br>
					<input type="checkbox" value="English" checked id="English" onclick="changeCategory(this.id)"><label for="English">English</label><br>
					<input type="checkbox" value="Fine Arts: Music" checked id="Fine Arts: Music" onclick="changeCategory(this.id)"><label for="Fine Arts: Music">Fine Arts: Music</label><br>
					<input type="checkbox" value="Fine Arts: Theatre Arts" checked id="Fine Arts: Theatre Arts" onclick="changeCategory(this.id)"><label for="Fine Arts: Theatre Arts">Fine Arts: Theatre Arts</label><br>
					<input type="checkbox" value="Fine Arts: Visual Arts" checked id="Fine Arts: Visual Arts" onclick="changeCategory(this.id)"><label for="Fine Arts: Visual Arts">Fine Arts: Visual Arts</label><br>
					<input type="checkbox" value="General" checked id="General" onclick="changeCategory(this.id)"><label for="General">General</label><br>
					<input type="checkbox" value="Health/PE" checked id="Health/PE" onclick="changeCategory(this.id)"><label for="Health/PE">Health/PE</label><br>
					<input type="checkbox" value="Mathematics" checked id="Mathematics" onclick="changeCategory(this.id)"><label for="Mathematics">Mathematics</label><br>
					<input type="checkbox" value="Science" checked id="Science" onclick="changeCategory(this.id)"><label for="Science">Science</label><br>
					<input type="checkbox" value="Social Studies" checked id="Social Studies" onclick="changeCategory(this.id)"><label for="Social Studies">Social Studies</label><br>
					<input type="checkbox" value="World Languages" checked id="World Languages" onclick="changeCategory(this.id)"><label for="World Languages">World Languages</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Type:</b><br>
					<input type="checkbox" name="Core" checked onclick="changeType()" id="Core"><label for="Core">Core</label><br>
					<input type="checkbox" name="Elective" checked onclick="changeType()" id="Elective"><label for="Elective">Elective</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Length:</b><br>
					<input type="checkbox" name="FullYear" checked onclick="changeLength()" id="Full Year"><label for="Full Year">Full Year</label><br>
					<input type="checkbox" name="Semester" checked onclick="changeLength()" id="Semester"><label for="Semester">Semester</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Weight:</b><br>
					<input type="checkbox" name="Regular" checked onclick="changeWeight()" id="+0.0"><label for="+0.0">Regular (+0.0)</label><br>
					<input type="checkbox" name="Honors" checked onclick="changeWeight()" id="+0.5"><label for="+0.5">Honors (+0.5)</label><br>
					<input type="checkbox" name="AP" checked onclick="changeWeight()" id="+1.0"><label for="+1.0">AP/Post-AP (+1.0)</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Class Score:</b><br>
					<b>Min:</b><br><input type="number" name="MinClassScore" checked id="minclassscore" onkeyup="filterClassScore()" onmouseup="filterClassScore()" min="0" max="10"><br>
					<b>Max:</b><br><input type="number" name="MaxClassScore" checked id="maxclassscore" onkeyup="filterClassScore()" onmouseup="filterClassScore()" min="0" max="10"><br>
				</div>
				<div style="padding-top: 10px">
					<b>Hours/Week:</b><br>
					<b>Min:</b><br><input type="number" name="MinHrsWeek" checked id="minhrsweek" onkeyup="filterHrsWeek()" onmouseup="filterHrsWeek()" min="0" max="10"><br>
					<b>Max:</b><br><input type="number" name="MaxHrsWeek" checked id="maxhrsweek" onkeyup="filterHrsWeek()" onmouseup="filterHrsWeek()" min="0" max="10"><br>
				</div>
			</div>
			<div>
				<div id="classes_div" style="width: 100%">
					<table id="classes_table" class="display">
						<thead>
							<tr>
								<th>Class Name</th>
								<th>Alternate</th>
								<th>ID</th>
								<th>Category</th>
								<th>Type</th>
								<th>Length</th>
								<th>Weight</th>
								<th>Class Score</th>
								<th>Hours/Week</th>
							</tr>
						</thead>
						<tbody>
							{{#each classes}}
							<tr>
								<td><a href={{this.id}} style="color: black; text-decoration: none">{{this.name}}</a></td>
								<td>{{this.alt}}</td>
								<td>{{this.id}}</td>
								<td>{{this.category}}</td>
								<td>{{this.type}}</td>
								<td>{{this.length}}</td>
								<td>{{this.weight}}</td>
								<td>{{this.class_score}}</td>
								<td>{{this.workload}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		<div>
		<script type="text/javascript">
			var table = $('#classes_table').DataTable( {
				'columnDefs': [
	                {
	                    'searchable'    : false,
	                    'targets'       : [3,4,5,6,7,8]
	                },
	                {
	                	'targets'		: [1],
	                	'visible'		: false
	                }
	            ],
				"iDisplayLength": 50,
				"language": {
            		"infoFiltered": ""
        		},
			} );

			function uncheckCategory() {
				document.getElementById("Technology and Engineering").checked = false
				document.getElementById("English").checked = false
				document.getElementById("Fine Arts: Music").checked = false
				document.getElementById("Fine Arts: Theatre Arts").checked = false
				document.getElementById("Fine Arts: Visual Arts").checked = false
				document.getElementById("General").checked = false
				document.getElementById("Health/PE").checked = false
				document.getElementById("Mathematics").checked = false
				document.getElementById("Science").checked = false
				document.getElementById("Social Studies").checked = false
				document.getElementById("World Languages").checked = false
				changeCategory("Mathematics")
			}

			function checkCategory() {
				document.getElementById("Technology and Engineering").checked = true
				document.getElementById("English").checked = true
				document.getElementById("Fine Arts: Music").checked = true
				document.getElementById("Fine Arts: Theatre Arts").checked = true
				document.getElementById("Fine Arts: Visual Arts").checked = true
				document.getElementById("General").checked = true
				document.getElementById("Health/PE").checked = true
				document.getElementById("Mathematics").checked = true
				document.getElementById("Science").checked = true
				document.getElementById("Social Studies").checked = true
				document.getElementById("World Languages").checked = true
				changeCategory("Mathematics")
			}

			function changeCategory(categoryName) {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					return document.getElementById(rowData[3]).checked ? true : false
    				}
    			);
				table.draw()
			}

			function changeType() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
						return document.getElementById(rowData[4]).checked ? true : false
    				}
    			);
				table.draw()
			}

			function changeLength() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					return document.getElementById(rowData[5]).checked ? true : false
    				}
    			);
				table.draw()
			}

			function changeWeight() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					return document.getElementById(rowData[6]).checked ? true : false
    				}
    			);
				table.draw()
			}

			function filterClassScore() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					var min = parseFloat(document.getElementById('minclassscore').value)
    					var max = parseFloat(document.getElementById('maxclassscore').value)
    					var score = parseFloat(rowData[7])

    					if ((isNaN(min) && isNaN(max)) || (isNaN(min) && score <= max) || (min <= score && isNaN(max)) || (min <= score && score <= max)) {
				            return true;
				        }
				        return false;
    				}
    			);
				table.draw()
			}

			function filterHrsWeek() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					var min = parseFloat(document.getElementById('minhrsweek').value)
    					var max = parseFloat(document.getElementById('maxhrsweek').value)
    					var hrs = parseFloat(rowData[8])

    					if ((isNaN(min) && isNaN(max)) || (isNaN(min) && hrs <= max) || (min <= hrs && isNaN(max)) || (min <= hrs && hrs <= max)) {
				            return true;
				        }
				        return false;
    				}
    			);
				table.draw()
			}
		</script>
	</body>
</html>
