<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RateMyTJ</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
		<link rel="stylesheet" href="/styles.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
	</head>
	<body>
		{{> header}}
		<div style="display: flex; flex-direction: row; padding:8px;">
			<div style="width: 200px">
				<div style="width: 100%; font-weight:600; text-align:center; font-size:1.5rem">
					Filters
				</div>
				<div>
					<b>Category:</b><br>
					<span style="font-size: 8pt;"><a onclick="switchCategory(false)" style="text-decoration: underline;">Uncheck all</a> | <a onclick="switchCategory(true)" style="text-decoration: underline;">Check all</a></span><br>
					<input type="checkbox" value="Technology and Engineering" checked id="Technology and Engineering" onclick="filterChange(3)"><label for="Technology and Engineering">Technology and Engineering</label><br>
					<input type="checkbox" value="English" checked id="English" onclick="filterChange(3)"><label for="English">English</label><br>
					<input type="checkbox" value="Fine Arts: Music" checked id="Fine Arts: Music" onclick="filterChange(3)"><label for="Fine Arts: Music">Fine Arts: Music</label><br>
					<input type="checkbox" value="Fine Arts: Theatre Arts" checked id="Fine Arts: Theatre Arts" onclick="filterChange(3)"><label for="Fine Arts: Theatre Arts">Fine Arts: Theatre Arts</label><br>
					<input type="checkbox" value="Fine Arts: Visual Arts" checked id="Fine Arts: Visual Arts" onclick="filterChange(3)"><label for="Fine Arts: Visual Arts">Fine Arts: Visual Arts</label><br>
					<input type="checkbox" value="General" checked id="General" onclick="filterChange(3)"><label for="General">General</label><br>
					<input type="checkbox" value="Health/PE" checked id="Health/PE" onclick="filterChange(3)"><label for="Health/PE">Health/PE</label><br>
					<input type="checkbox" value="Mathematics" checked id="Mathematics" onclick="filterChange(3)"><label for="Mathematics">Mathematics</label><br>
					<input type="checkbox" value="Science" checked id="Science" onclick="filterChange(3)"><label for="Science">Science</label><br>
					<input type="checkbox" value="Social Studies" checked id="Social Studies" onclick="filterChange(3)"><label for="Social Studies">Social Studies</label><br>
					<input type="checkbox" value="World Languages" checked id="World Languages" onclick="filterChange(3)"><label for="World Languages">World Languages</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Type:</b><br>
					<input type="checkbox" name="Core" checked onclick="filterChange(4)" id="Core"><label for="Core">Core</label><br>
					<input type="checkbox" name="Elective" checked onclick="filterChange(4)" id="Elective"><label for="Elective">Elective</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Length:</b><br>
					<input type="checkbox" name="FullYear" checked onclick="filterChange(5)" id="Full Year"><label for="Full Year">Full Year</label><br>
					<input type="checkbox" name="Semester" checked onclick="filterChange(5)" id="Semester"><label for="Semester">Semester</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Weight:</b><br>
					<input type="checkbox" name="Regular" checked onclick="filterChange(6)" id="+0.0"><label for="+0.0">Regular (+0.0)</label><br>
					<input type="checkbox" name="Honors" checked onclick="filterChange(6)" id="+0.5"><label for="+0.5">Honors (+0.5)</label><br>
					<input type="checkbox" name="AP" checked onclick="filterChange(6)" id="+1.0"><label for="+1.0">AP/Post-AP (+1.0)</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Class Score:</b><br>
					<b>Min:</b><br><input type="number" name="MinClassScore" checked id="minclassscore" onkeyup="filterNumber(this.id, 7)" onclick="filterNumber(this.id, 7)" min="0" max="10"><br>
					<b>Max:</b><br><input type="number" name="MaxClassScore" checked id="maxclassscore" onkeyup="filterNumber(this.id, 7)" onclick="filterNumber(this.id, 7)" min="0" max="10"><br>
				</div>
				<div style="padding-top: 10px">
					<b>Hours/Week:</b><br>
					<b>Min:</b><br><input type="number" name="MinHrsWeek" checked id="minhrsweek" onkeyup="filterNumber(this.id, 8)" onclick="filterNumber(this.id, 8)" min="0" max="10"><br>
					<b>Max:</b><br><input type="number" name="MaxHrsWeek" checked id="maxhrsweek" onkeyup="filterNumber(this.id, 8)" onclick="filterNumber(this.id, 8)" min="0" max="10"><br>
				</div>
			</div>
			<div>
				<div id="classes_div" style="width: 100%">
					<table id="classes_table" class="display">
						<thead>
							<tr>
								<th>Class Name</th>
								<th>Alternate</th>
								<th style="text-align: center;">ID</th>
								<th style="text-align: center;">Category</th>
								<th style="text-align: center;">Type</th>
								<th style="text-align: center;">Length</th>
								<th style="text-align: center;">Weight</th>
								<th title="Overall rating of the class, scale of 0-10">Class Score</th>
								<th title="Average amount of time spent on HW in this class per week">Hours/Week</th>
							</tr>
						</thead>
						<tbody>
							{{#each classes}}
							<tr>
								<td><a href="/class/{{this.id}}" style="color: black; text-decoration: none">{{this.name}}</a></td>
								<td>{{this.alt}}</td>
								<td style="text-align: center;">{{this.id}}</td>
								<td style="text-align: center;">{{this.category}}</td>
								<td style="text-align: center;">{{this.type}}</td>
								<td style="text-align: center;">{{this.length}}</td>
								<td style="text-align: center;">{{this.weight}}</td>
								<td>{{fix_number this.class_score}}</td>
								<td>{{fix_number this.workload}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{{> footer}}
		<script type="text/javascript">
			var table = $('#classes_table').DataTable( {
				'columnDefs': [
					{
						'searchable'    : false,
						'targets'       : [3,4,5,6,7,8]
					},
					{
						'targets'		: [1],
						'visible'		: false
					},
					{ "width": '200px', "targets": 0 },
					{ "width": '100px', "targets": 3 },
					{ "width": '50px', "targets": [2,4,5,6,7,8] },
				],
				"iDisplayLength": 50,
				"language": {
					"infoFiltered": ""
				},
			} );

			function switchCategory(state) {
				document.getElementById("Technology and Engineering").checked = state
				document.getElementById("English").checked = state
				document.getElementById("Fine Arts: Music").checked = state
				document.getElementById("Fine Arts: Theatre Arts").checked = state
				document.getElementById("Fine Arts: Visual Arts").checked = state
				document.getElementById("General").checked = state
				document.getElementById("Health/PE").checked = state
				document.getElementById("Mathematics").checked = state
				document.getElementById("Science").checked = state
				document.getElementById("Social Studies").checked = state
				document.getElementById("World Languages").checked = state
				filterChange(3)
			}

			function filterChange(row_index) {
				$.fn.dataTable.ext.search.push(
					function( settings, searchData, index, rowData, counter ) {
						return document.getElementById(rowData[row_index]).checked ? true : false
					}
				);
				table.draw()
			}

			function filterNumber(element_id, row_index) {
				$.fn.dataTable.ext.search.push(
					function( settings, searchData, index, rowData, counter ) {
						var min = parseFloat(document.getElementById('min' + element_id.substring(3)).value)
						var max = parseFloat(document.getElementById('max' + element_id.substring(3)).value)
						var score = parseFloat(rowData[row_index])

						if ((isNaN(min) && isNaN(max)) || (isNaN(min) && score <= max) || (min <= score && isNaN(max)) || (min <= score && score <= max)) {
							return true;
						}
						return false;
					}
				);
				table.draw()
			}
		</script>
	</body>
</html>
