<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RateMyTJ</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
		<style type="text/css">
			html {
				font-family: "Georgia";
			}
		</style>
	</head>
	<body>
		<div style="display: flex; flex-direction: row">
			<div style="width: 200px">
				<div>
					<b>Category:</b><br>
					<span style="font-size: 8pt;"><a href="#" onclick="uncheckCategory()">Uncheck all</a> | <a href="#" onclick="checkCategory()">Check all</a></span><br>
					<input type="checkbox" value="Technology and Engineering" checked id="Technology and Engineering" onclick="changeCategory(this.id)"><label for="Technology and Engineering">Technology and Engineering</label><br>
					<input type="checkbox" value="English" checked id="English" onclick="changeCategory(this.id)"><label for="English">English</label><br>
					<input type="checkbox" value="Fine Arts: Music" checked id="Fine Arts: Music" onclick="changeCategory(this.id)"><label for="Fine Arts: Music">Fine Arts: Music</label><br>
					<input type="checkbox" value="Fine Arts: Theatre Arts" checked id="Fine Arts: Theatre Arts" onclick="changeCategory(this.id)"><label for="Fine Arts: Theatre Arts">Fine Arts: Theatre Arts</label><br>
					<input type="checkbox" value="Fine Arts: Visual Arts" checked id="Fine Arts: Visual Arts" onclick="changeCategory(this.id)"><label for="Fine Arts: Visual Arts">Fine Arts: Visual Arts</label><br>
					<input type="checkbox" value="General" checked id="General" onclick="changeCategory(this.id)"><label for="General">General</label><br>
					<input type="checkbox" value="Health/PE" checked id="Health/PE" onclick="changeCategory(this.id)"><label for="Health/PE">Health/PE</label><br>
					<input type="checkbox" value="Mathematics" checked id="Mathematics" onclick="changeCategory(this.id)"><label for="Mathematics">Mathematics</label><br>
					<input type="checkbox" value="Science" checked id="Science" onclick="changeCategory(this.id)"><label for="Science">Science</label><br>
					<input type="checkbox" value="Social Studies" checked id="Social Studies" onclick="changeCategory(this.id)"><label for="Social Studies">Social Studies</label><br>
					<input type="checkbox" value="World Languages" checked id="World Languages" onclick="changeCategory(this.id)"><label for="World Languages">World Languages</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Type:</b><br>
					<input type="checkbox" name="Core" checked onclick="changeType()" id="core"><label for="Core">Core</label><br>
					<input type="checkbox" name="Elective" checked onclick="changeType()" id="elective"><label for="Elective">Elective</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Length:</b><br>
					<input type="checkbox" name="FullYear" checked onclick="changeLength()" id="fullyear"><label for="Core">Full Year</label><br>
					<input type="checkbox" name="Semester" checked onclick="changeLength()" id="semester"><label for="Elective">Semester</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Weight:</b><br>
					<input type="checkbox" name="Regular" checked onclick="changeWeight()" id="regular"><label for="Core">Regular (+0.0)</label><br>
					<input type="checkbox" name="Honors" checked onclick="changeWeight()" id="honors"><label for="Elective">Honors (+0.5)</label><br>
					<input type="checkbox" name="AP" checked onclick="changeWeight()" id="ap"><label for="Elective">AP/Post-AP (+1.0)</label><br>
				</div>
				<div style="padding-top: 10px">
					<b>Class Score:</b><br>
					<b>Min:</b><br><input type="number" name="MinClassScore" checked id="minclassscore" onkeyup="filterClassScore()" min="0" max="10"><br>
					<b>Max:</b><br><input type="number" name="MaxClassScore" checked id="maxclassscore" onkeyup="filterClassScore()" min="0" max="10"><br>
				</div>
				<div style="padding-top: 10px">
					<b>Hours/Week:</b><br>
					<b>Min:</b><br><input type="number" name="MinHrsWeek" checked id="minhrsweek" onkeyup="filterHrsWeek()" min="0" max="10"><br>
					<b>Max:</b><br><input type="number" name="MaxHrsWeek" checked id="maxhrsweek" onkeyup="filterHrsWeek()" min="0" max="10"><br>
				</div>
			</div>
			<div>
				<div id="classes_div" style="width: 100%">
					<table id="classes_table" class="display">
						<thead>
							<tr>
								<th>Class Name</th>
								<th>Alternate</th>
								<th>ID</th>
								<th>Category</th>
								<th>Type</th>
								<th>Length</th>
								<th>Weight</th>
								<th>Class Score</th>
								<th>Hours/Week</th>
							</tr>
						</thead>
						<tbody>
							{{#each classes}}
							<tr>
								<td>{{this.className}}</td>
								<td></td>
								<td>{{this.ID}}</td>
								<td>{{this.Category}}</td>
								<td>{{this.Type}}</td>
								<td>{{this.Length}}</td>
								<td>{{this.Weight}}</td>
								<td>{{this.classScore}}</td>
								<td>{{this.workload}}</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		<div>
		<script type="text/javascript">
			var table = $('#classes_table').DataTable( {
				'columnDefs': [
	                {
	                    'searchable'    : false,
	                    'targets'       : [3,4,5,6,7,8]
	                },
	                {
	                	'targets'		: [1],
	                	'visible'		: false
	                }
	            ],
				"iDisplayLength": 50,
				"language": {
            		"infoFiltered": ""
        		},
			} );

			function uncheckCategory() {
				document.getElementById("Technology and Engineering").checked = false
				document.getElementById("English").checked = false
				document.getElementById("Fine Arts: Music").checked = false
				document.getElementById("Fine Arts: Theatre Arts").checked = false
				document.getElementById("Fine Arts: Visual Arts").checked = false
				document.getElementById("General").checked = false
				document.getElementById("Health/PE").checked = false
				document.getElementById("Mathematics").checked = false
				document.getElementById("Science").checked = false
				document.getElementById("Social Studies").checked = false
				document.getElementById("World Languages").checked = false
				changeCategory("Mathematics")
			}

			function checkCategory() {
				document.getElementById("Technology and Engineering").checked = true
				document.getElementById("English").checked = true
				document.getElementById("Fine Arts: Music").checked = true
				document.getElementById("Fine Arts: Theatre Arts").checked = true
				document.getElementById("Fine Arts: Visual Arts").checked = true
				document.getElementById("General").checked = true
				document.getElementById("Health/PE").checked = true
				document.getElementById("Mathematics").checked = true
				document.getElementById("Science").checked = true
				document.getElementById("Social Studies").checked = true
				document.getElementById("World Languages").checked = true
				changeCategory("Mathematics")
			}

			function changeCategory(categoryName) {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					return document.getElementById(rowData[3]).checked ? true : false
    				}
    			);
				table.draw()
			}

			function changeType() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					var core_selected = document.getElementById('core').checked ? true : false
    					var elective_selected = document.getElementById('elective').checked ? true : false

    					if (rowData[4] === "Core") {
    						if (core_selected) {
    							return true
    						}
    						else {
    							return false
    						}
    					}
    					if (rowData[4] === "Elective") {
    						if (elective_selected) {
    							return true
    						}
    						else {
    							return false
    						}
    					}
    				}
    			);
				table.draw()
			}

			function changeLength() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					var fullyear_selected = document.getElementById('fullyear').checked ? true : false
    					var semester_selected = document.getElementById('semester').checked ? true : false

    					if (rowData[5] === "Full Year") {
    						if (fullyear_selected) {
    							return true
    						}
    						else {
    							return false
    						}
    					}
    					if (rowData[5] === "Semester") {
    						if (semester_selected) {
    							return true
    						}
    						else {
    							return false
    						}
    					}
    				}
    			);
				table.draw()
			}

			function changeWeight() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					var regular_selected = document.getElementById('regular').checked ? true : false
    					var honors_selected = document.getElementById('honors').checked ? true : false
    					var ap_selected = document.getElementById('ap').checked ? true : false

    					if (rowData[6] === "+0.0") {
    						if (regular_selected) {
    							return true
    						}
    						else {
    							return false
    						}
    					}
    					if (rowData[6] === "+0.5") {
    						if (honors_selected) {
    							return true
    						}
    						else {
    							return false
    						}
    					}
    					if (rowData[6] === "+1.0") {
    						if (ap_selected) {
    							return true
    						}
    						else {
    							return false
    						}
    					}
    				}
    			);
				table.draw()
			}

			function filterClassScore() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					var min = parseFloat(document.getElementById('minclassscore').value)
    					var max = parseFloat(document.getElementById('maxclassscore').value)
    					var score = parseFloat(rowData[7])

    					// console.log(min)
    					// console.log(max)
    					// console.log(score)

    					if ((isNaN(min) && isNaN(max)) || (isNaN(min) && score <= max) || (min <= score && isNaN(max)) || (min <= score && score <= max)) {
				            return true;
				        }
				        return false;
    				}
    			);
				table.draw()
			}

			function filterHrsWeek() {
				$.fn.dataTable.ext.search.push(
    				function( settings, searchData, index, rowData, counter ) {
    					var min = parseFloat(document.getElementById('minhrsweek').value)
    					var max = parseFloat(document.getElementById('maxhrsweek').value)
    					var hrs = parseFloat(rowData[8])

    					// console.log(min)
    					// console.log(max)
    					// console.log(hrs)

    					if ((isNaN(min) && isNaN(max)) || (isNaN(min) && hrs <= max) || (min <= hrs && isNaN(max)) || (min <= hrs && hrs <= max)) {
				            return true;
				        }
				        return false;
    				}
    			);
				table.draw()
			}
		</script>
	</body>
</html>
