<!DOCTYPE>
<html>
	{{> head_tag title="RateMyTJ"}}
	<body>
		<div class="min-h-full flex flex-col">
			{{> header}}
			<div class="flex flex-col p-2 flex-grow">
                <div class="font-bold text-2xl pb-2">
                    There were {{search_total}} result{{plural search_total}} for your search.
                </div>
                <div class="pl-6">
                    <ul style="list-style: inside;">
                        {{#each search_results}}
                            <li><a href="/class/{{this.id}}">{{this.name}} {{#if this.alt}}({{this.alt}}) {{/if}}- {{this.id}}</a></li>
                        {{/each}}
                    </ul>
                </div>

            </div>
            {{> footer}}
        </div>
	</body>
</html>
